html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MuiTypography-root {
  animation: fadeIn 2s ease-in-out;
}

.MuiButton-root {
  margin-top: 2rem;
  animation: fadeIn 2s ease-in-out 1s;
}
